<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow" >
    <test name="flow1">
        <classes>
            <class name="IndexPageTest"></class>
            <class name="LoginPageTest"></class>
            <class name="CoffeeTableCategoryTest"></class>
            <class name="ShopNowTest"></class>
        </classes>
    </test>

</suite>